---
import { octokit } from "../utilities/github";
import Project from "../components/Project.astro";
import { isProd } from "../utilities/env";

const per_page = isProd ? 100 : 3;
const res = await octokit.request(
  `GET /orgs/{org}/repos?per_page=${per_page}`,
  {
    org: "akai-org",
    headers: {
      "X-GitHub-Api-Version": "2022-11-28",
    },
  },
);
console.log(`fetching ${res.data.length} projects`);

const projects = await Promise.all(
  res.data.map(async (repo: any, i: number) => {
    const { data } = await octokit.request(
      `GET /repos/{owner}/{repo}/languages`,
      {
        owner: "akai-org",
        repo: repo.name,
        headers: {
          "X-GitHub-Api-Version": "2022-11-28",
        },
      },
    );
    return {
      index: i + 1,
      name: repo.name,
      url: repo.html_url,
      languages: Object.keys(data),
    };
  }),
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="bg-red-500">AKAI Apps</h1>
    <main>
      <ul class="flex flex-col gap-y-3 p-3">
        {
          projects.map((project: any, i) => (
            <li>
              <Project {...project} />
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
