---
import { Image } from "astro:assets";
import defaultIcon from "@assets/default_icon.png";
import { isProd } from "@utilities/env";
import { type Project } from "@utilities/data";
import LanguageTag from "./LanguageTag.astro";
import icon_star from "@assets/icon_star.svg";
import icon_github_white from "@assets/icon_github_white.png";
import { getTimeFromUpdate } from "@utilities/getTimeFromUpdate";
import { placeWhitespaces } from "@utilities/stringUtils";

type Props = Project;
const {
  name,
  url,
  languages,
  stargazerCount,
  metadata,
  description,
  updatedAt,
} = Astro.props;
const projectUrl = new URL(
  `projects/${name}`,
  isProd ? Astro.site : "http://localhost:4321",
);

const langLimit = 5;
const tooManyLangs = languages.length > langLimit;

const timeFromUpdate = getTimeFromUpdate(updatedAt);
const updateDate = new Date(updatedAt).toLocaleDateString("en-GB", {
  timeZone: "Europe/Warsaw",
});

const finalTitle = placeWhitespaces(metadata?.name ? metadata.name : name);
---

<div
  class="project box-border flex min-w-0 flex-col justify-between gap-2 rounded border-2 border-gray-100 p-5"
  data-langs={languages}
>
  <div class="grid grid-cols-1 gap-y-2">
    <div class="flex items-center justify-between gap-2">
      <div class="hidden sm:block">
        <Image
          src={defaultIcon}
          alt={"domyślne logo"}
          height={80}
          width={80}
          class="rounded-md"
        />
      </div>
      <div class="grid w-full grid-cols-1 gap-y-1">
        <div class="flex w-full items-center justify-between gap-3">
          <div class="min-w-0 flex-1">
            <h2 id="title" class="truncate text-2xl font-bold capitalize">
              {finalTitle}
            </h2>
          </div>
          <a href={url} class="flex w-fit rounded-lg bg-zinc-800">
            <div
              id="stars"
              class="flex items-center justify-center gap-1 rounded-lg bg-zinc-700 p-1 font-black text-white"
            >
              <Image
                src={icon_star}
                alt="ikona gwiazdy"
                height={18}
                width={18}
                loading="eager"
              />
              {stargazerCount}
            </div>
            <div
              class="flex items-center justify-center rounded-lg bg-zinc-800 p-1"
            >
              <Image
                src={icon_github_white}
                alt="logo github"
                width={22}
                height={22}
                loading="eager"
              />
            </div>
          </a>
        </div>
        <div class="flex items-end gap-2 overflow-hidden text-xs">
          <ul class="line-clamp-1 flex items-center gap-2">
            {
              languages
                .slice(0, langLimit)
                .map((language) => <LanguageTag language={language} />)
            }
          </ul>
          <div
            class={tooManyLangs
              ? `w-fit rounded-xl border-2 border-gray-200 bg-gray-100 p-1 text-sm font-semibold`
              : ""}
          >
            {tooManyLangs && `+${languages.length - langLimit}`}
          </div>
        </div>
      </div>
    </div>
    {description && <p class=" line-clamp-2 ">{description}</p>}
  </div>
  <div class="flex items-end justify-between">
    <p class="cursor-help text-sm" title={updateDate}>
      Ostatnia akutalizacja: <i>{timeFromUpdate}</i>
    </p>
    <a
      href={projectUrl}
      class="rounded-md bg-blue-400 px-3 py-2 font-bold text-white">Więcej</a
    >
  </div>
</div>
