---
import { isProd } from "@utilities/env";
import { type Project } from "../utilities/data";
import LanguageTag from "./LanguageTag.astro";
interface Props extends Project {}

const { name, url, languages, stargazerCount } = Astro.props;
const projectUrl = new URL(
  `projects/${name}`,
  isProd ? Astro.site : "http://localhost:4321",
);
---

<div class="project border-gray-100 w-5/6 rounded-md border-2 p-3">
  <h2 class="text-xl font-bold">{name}</h2>
  <span>{stargazerCount} gwiazdek</span>
  <ul class="flex flex-row flex-wrap gap-2 text-sm">
    {languages.map((language) => <LanguageTag language={language} />)}
  </ul>
  <div>
    <a href={url} class="text-yellow-500">Sprawdź na Githubie</a>
    <a href={projectUrl} class="text-sky-500">Więcej</a>
  </div>
</div>
