---
import { Image } from "astro:assets";
import defaultIcon from "@assets/default_icon.png";
import { isProd } from "@utilities/env";
import { type Project } from "@utilities/data";
import LanguageTag from "./LanguageTag.astro";
import icon_star from "@assets/icon_star.svg";
import icon_arrow_right from "@assets/icon_chevron_right.svg";
import icon_github_white from "@assets/icon_github_white.svg";
import { getRelativeTime } from "@utilities/getRelativeTime";
import { placeWhitespaces } from "@utilities/stringUtils";
import { Duration } from "@utilities/Duration.enum";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

type Props = Project;
const {
  name,
  url,
  languages,
  stargazerCount,
  metadata,
  description,
  updatedAt,
} = Astro.props;

const currentLang = getLangFromUrl(Astro.url) as string;
const translate = useTranslations(currentLang);

const projectUrl = new URL(`${currentLang}/projects/${name}`,
  isProd ? Astro.site : "http://localhost:4321",
);

const langLimit = 5;
const tooManyLangs = languages.length > langLimit;

const timeFromUpdate = getRelativeTime(updatedAt, Duration.Day, currentLang);
const updateDate = new Date(updatedAt).toLocaleDateString("en-GB", {
  timeZone: "Europe/Warsaw",
});

const finalTitle = placeWhitespaces(metadata?.name ? metadata.name : name);

const icon = metadata?.logoUrl ? metadata.logoUrl : defaultIcon;
---

<div
  class="project box-border flex min-w-0 flex-col justify-between gap-2 rounded border-2 border-gray-100 p-5 dark:border-zinc-600 dark:bg-neutral-700"
  data-langs={languages}
  data-title={finalTitle}
  data-stars={stargazerCount}
  data-updateDate={updatedAt}
>
  <div class="grid grid-cols-1 gap-y-2">
    <div class="flex items-center justify-between gap-2">
      <div class="hidden sm:block">
        <Image
          src={icon as ImageMetadata}
          alt={"domyślne logo"}
          height={80}
          width={80}
          class="rounded-md"
        />
      </div>
      <div class="grid w-full grid-cols-1 gap-y-1">
        <div class="flex w-full items-center justify-between gap-3">
          <div class="min-w-0 flex-1">
            <h2
              id="title"
              class="truncate text-2xl font-bold capitalize"
              transition:name={`${name}-title`}
            >
              <a href={projectUrl} class="hover:underline">
                {finalTitle}
              </a>
            </h2>
          </div>
          <a
            href={url}
            class="flex w-fit rounded-lg border border-zinc-500 bg-zinc-800"
          >
            <div
              id="stars"
              class="flex items-center justify-center gap-1 rounded-lg bg-zinc-700 p-1 font-black text-white"
            >
              <Image
                src={icon_star}
                alt="ikona gwiazdy"
                height={18}
                width={18}
              />
              {stargazerCount}
            </div>
            <div
              class="flex items-center justify-center rounded-lg bg-zinc-800 p-1"
            >
              <Image
                src={icon_github_white}
                alt="logo github"
                width={22}
                height={22}
              />
            </div>
          </a>
        </div>
        <div class="flex items-end gap-2 overflow-hidden text-xs text-black">
          <ul class="line-clamp-1 flex items-center gap-2">
            {
              languages
                .slice(0, langLimit)
                .map((language: string) => <LanguageTag language={language} />)
            }
          </ul>
          <div
            class={tooManyLangs
              ? `w-fit rounded-xl border-2 border-gray-200 bg-gray-100 p-1 text-xs font-semibold dark:border-zinc-500 dark:bg-zinc-600 dark:text-white`
              : ""}
          >
            {tooManyLangs && `+${languages.length - langLimit}`}
          </div>
        </div>
      </div>
    </div>
    {description && <p class="line-clamp-2">{description}</p>}
  </div>
  <div class="flex items-end justify-between" id="updateDate">
    <p class="cursor-help text-sm" title={updateDate}>
      {translate("project.lastUpdate")}: <i>{timeFromUpdate}</i>
    </p>
    <a
      href={projectUrl}
      class="border-1 flex justify-center gap-0.5 rounded-md bg-gradient-to-br from-blue-400 to-sky-400 px-3 py-2 font-bold text-white"
      >{translate("project.more")} <Image
        src={icon_arrow_right}
        width={20}
        alt={"strzałka skierowana w prawo"}
      />
    </a>
  </div>
</div>
