---
import Header from "@components/Header.astro";
import "@fontsource/quicksand";
import { ViewTransitions } from "astro:transitions";
const { title, ogImageUrl, description } = Astro.props;
---

<html lang="pl" class="dark:[color-scheme:dark]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="AKAI apps" />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="960" />
    <meta property="og:image:height" content="540" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="apps.akai.org.pl" />
    <meta
      property="twitter:url"
      content="https://apps.akai.org.pl/projects/apps"
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://apps.akai.org.pl/project/apps-og.png"
    />

    <title>AKAI Apps{title && ` | ${title}`}</title>
    <ViewTransitions />
  </head>
  <body class="dark:bg-neutral-800 dark:text-white">
    <Header transition:persist />
    <slot />
  </body><script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    const themeDark = document.getElementById("themeDark");
    const themeLight = document.getElementById("themeLight");

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
      themeDark.classList.add("hidden")
    } else {
      document.documentElement.classList.add("dark");
      themeLight.classList.add("hidden");
    }

    window.localStorage.setItem("theme", theme);

    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("dark");

      const isDark = element.classList.contains("dark");
      if(isDark) {
        themeLight.classList.add("hidden");
        themeDark.classList.remove("hidden");
      } else {
        themeLight.classList.remove("hidden");
        themeDark.classList.add("hidden");
      }
      
      localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    document
      .getElementById("themeToggle")
      .addEventListener("click", handleToggleClick); // toggle button in Header component

    setupThemes();
    document.addEventListener("astro:after-swap", setupThemes);
  </script>
</html>
