---
import type { Project } from "@utilities/data";
import LanguageTag from "@components/LanguageTag.astro";
interface Props extends Project {}

import { Image } from "astro:assets";
import icon_star from "@assets/icon_star.svg";
import icon_github_white from "@assets/icon_github_white.png";

const { name, description, stargazerCount, languages, url, metadata } =
  Astro.props;

const hasTechnologies =
  metadata.technologies && metadata.technologies?.length > 0;
---

<section class="flex w-full justify-center">
  <main class="grid w-3/4 p-3">
    <header>
      <section class="flex justify-between">
        <h1 class="text-left text-5xl font-bold">
          {metadata?.name ? metadata.name : name}
        </h1><a href={url} class="flex w-fit rounded-lg bg-zinc-800">
          <div
            id="stars"
            class="flex items-center justify-center gap-1 rounded-lg bg-zinc-700 p-1 text-lg font-black text-white"
          >
            <Image
              src={icon_star}
              alt="ikona gwiazdy"
              height={25}
              width={25}
              loading="eager"
            />
            {stargazerCount}
          </div>
          <div
            class="flex items-center justify-center rounded-lg bg-zinc-800 p-1"
          >
            <Image
              src={icon_github_white}
              alt="logo github"
              width={27}
              height={27}
              loading="eager"
            />
          </div>
        </a>
      </section>
      <section>
        <div>
          <p><strong>Języki</strong></p>
          <ul class="flex gap-2">
            {
              languages.map((lang) => {
                return <LanguageTag language={lang} />;
              })
            }
          </ul>
        </div>
        <div>
          <p><strong>Technologie</strong></p>
          <ul class="flex gap-2">
            {
              hasTechnologies
                ? metadata.technologies?.map((tech) => {
                    return <li>{tech}</li>;
                  })
                : ""
            }
          </ul>
        </div>
      </section>
    </header>
    <article class="prose mx-auto max-w-4xl">
      <Fragment
        set:html={metadata?.description ? metadata.description : description}
      />
    </article>
  </main>
</section>
